@model X.PagedList.IPagedList<DPLK.Models.FundSrcType>
@using X.PagedList.Mvc.Core

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="table-responsive text-nowrap">
        <div class="card-header">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Pension /</span> Parameter Maker - Fund Source Type</h4>

            <a class="btn btn-primary text-end" asp-action="CreateVaGroup"><span class="tf-icons bx bx-book-add"></span>&nbsp; Create New</a>

            <div class="row mt-3">
                <div class="col-md-6">
                    <form asp-action="ParameterMakerFrequencyType" method="get">
                        <div class="input-group mb-3">
                            <input type="text" name="searchString" class="form-control" placeholder="Search...">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="ParameterMakerFundSourceType" asp-route-sortOrder="FundSrcNmbr" asp-route-page="1">ID</a>
                        </th>
                        <th>
                            <a asp-action="ParameterMakerFundSourceType" asp-route-sortOrder="FundSrcNm" asp-route-page="1">Desciption</a>
                        </th>

                        <th>
                            <a asp-action="ParameterMakerFundSourceType" asp-route-sortOrder="OldTypeNm" asp-route-page="1">Old ID</a>
                        </th>
                        <th>
                            <a asp-action="ParameterMakerFundSourceType" asp-route-sortOrder="LastChangeDt" asp-route-page="1">Last Change Date</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invType in Model)
                    {
                        <tr>
                            <td>@invType.FundSrcNmbr</td>
                            <td>@invType.FundSrcNm</td>
                            <td>@invType.OldTypeNmbr</td>
                            <td>@invType.LastChangeDt</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-4">
        @Html.PagedListPager(Model, page => Url.Action("ParameterMakerFundSourceType", new { page, currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort }))
    </div>
</div>
