@model IEnumerable<DPLK.Models.TferPayInfo>

@{
    ViewData["Title"] = "Withdraw Edit";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<h2>Withdraw Edit</h2>

<form method="get" action="">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" value="@ViewBag.currentFilter" placeholder="Search by Note">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Certificate No.</th>
            <th>Participant Name</th>
            <th>Company Name</th>
            <th>Transfer Type</th>
            <th>Bank Name</th>
            <th>Bank Address</th>
            <th>Acct No.</th>
            <th>Acct Nm.</th>
            <th>Transfer Amount</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>
                    <div class="dropdown">
                        <button type="button"
                                class="btn p-0 dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="SetupPartnerEdit" asp-route-id="@payment.AcctNmbr"><i class="bx bx-edit-alt me-1"></i>Edit</a>
                            <a class="dropdown-item" asp-action="DeleteSetupPartner" asp-route-id="@payment.AcctNmbr"><i class="bx bx-trash me-1"></i>Delete</a>
                        </div>
                    </div>
                </td>
                <td>@payment.CerNmbr</td>
                <td>@payment.</td>
                <td>@payment.</td>
                <td>@payment.</td>
                <td>@payment.</td>
                <td>@payment.</td>
                <td>@payment.</td>
                <td>@payment.</td>
                <td>@payment.</td>



            </tr>
        }
    </tbody>
</table>

@{
    int pageSize = ViewBag.psize != null ? (int)ViewBag.psize : 5;
    int totalItems = Model.Count();
    int pageCount = (int)Math.Ceiling((double)totalItems / pageSize);

    if (pageCount > 1)
    {
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (int i = 1; i <= pageCount; i++)
                {
                    <li class="page-item @(i == ViewBag.page ? "active" : "")">
                        <a class="page-link" href="?page=@i&pageSize=@pageSize">@i</a>
                    </li>
                }
            </ul>
        </nav>
    }
}
