@*//Modif|DwiPrasetyo*@

@model X.PagedList.IPagedList<DPLK.ModelAcc.SpdJurnalTemp>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<div class="container-fluid px-4">
    <div class="card my-4">
        <div class="card-header">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Cash Management / </span>Query FLP Pending Approval</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Jurnal Date</th>
                        <th>Amount</th>
                        <th>Fund</th>
                        <th>Correction</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var flp in Model)
                    {
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-route-id="@flp.TrnsId"><i class="bx bx-detail me-1"></i>Detail</a>
                                        <a class="dropdown-item" asp-action="" asp-route-id="@flp.TrnsId"><i class="bx bx-purchase-tag-alt me-1"></i>Voucher</a>
                                        <a class="dropdown-item" asp-action="" asp-route-id="@flp.TrnsId"><i class="bx bx-trash me-1"></i>Delete</a>
                                    </div>
                                </div>
                            </td>
                            <td>@flp.TrnsId</td>
                            <td>@flp.Description</td>
                            <td>@flp.DateJurnal
                            <td>
                            <td>@flp.</td>
                            <td>@flp.Correction</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center mt-4">
            Page @(Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("QueryFLPPendingApproval", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.TwitterBootstrapPager)
        </div>
    </div>

</div>

@*//End Modif|DwiPrasetyo*@

