@*//Modif|DwiPrasetyo*@

@model DPLK.ModelAcc.SpdFundMapping

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<div class="container-fluid px-4">
    <div class="card my-4">
        <div class="card-header">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Cash Management / </span> UnapprovedPayment</h4>
            <div class="mb-3 row">
                <label asp-for="Fund" class="col-md-2 col-form-label">Fund</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(models => models.Fund, (IEnumerable<SelectListItem>)ViewData["GetFund"], "-- All Fund --", new { @class = "form-control" })
                    <span asp-validation-for="Fund" class="text-danger"></span>
                    <a class="btn btn-primary" asp-action="UnapprovedReceipts" style="background-color: #0073fe;">
                        <span class="tf-icons bx bx-book-add"></span>&nbsp; Get FLP/FPP
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>NO.Trans</th>
                        <th>Tanggal</th>
                        <th>Keterangan</th>
                        <th>FundType</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var flp in Model)*@
                    @*{*@
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-route-id=""><i class="bx bx-select-multiple me-1"></i>Select</a>
                                    </div>
                                </div>
                            </td>
                            @*<td>@flp.TrnsId</td>
                             <td>@flp.DateJurnal
                            <td>
                            <td>@flp.</td>
                            <td>@flp.Correction</td>
                        </tr>*@
                    @*}*@
                </tbody>
            </table>
        </div>
        @*<div class="text-center mt-4">
            Page @(Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("QueryFLPPendingApproval", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.TwitterBootstrapPager)
        </div>*@
    </div>

</div>