


@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Accounting / </span> Request Delete Jurnal</h4>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Jurnal Date</th>
            <th>Amount</th>
            <th>Fund</th>
            <th>Correction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Description</td>
                <td>@item.JurnalDate</td>
                <td>@item.Amount</td>
                <td>@item.Fund</td>
                <td>@item.Correction</td>
            </tr>
        }
    </tbody>
</table>